header {
  background-color: #2c3e50;
}
.navbar {
  margin-bottom: 0;
}
.mt-20 {
  margin-top: 20px;
}
.nav {
  padding: 20px 30px;
}
.row, .row a {
  color: #fff;
}
.row {
  padding: 40px 0;
}
.row h1 {
  font-size: 32px;
  font-family: montserrat;
  font-weight: bold;
}
.row a:hover {
  text-decoration: none;
  color: #18bc9c;
}
.lightgreen {
  background-color: #18bc9c;
  height: 500px;
}
.startbootstrap h1 {
  font-size: 70px;
}
/* HR */
.star-light {
  width: 20%;
}
.star-light2 {
  width: 20%;
  border: 2px solid black;
}
/* SECTION WHITE */
.textclassw {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  font-family:
}
.textclassb {
  color: #000;
  font-size: 50px;
  text-transform: uppercase;
}
.img-fluid {
  width: 350px;
  height: 250px;
}
.portimg {
  padding-bottom: 40px;
}
/* Lightgreen ABOUT */
.col-md-6 > .sexyp {
  font-family: lato;
  line-height: 1.5;
  font-size: 20px;
}
.btn {
  margin-top: 40px;
  width: 250px;
  height: 50px;
}
.bootlogo {
  width: 120px;
  height: 100px;
}
/* WHITE CONTACT ME */
.form-group {
  line-height: 1.5;
  color: #495057;
  font-size: 30px;
}
/* FOOTER  */
.footy {
  background-color: #2c3e50;
}
/* Copyright */
.copyright {
  background-color: #1a252f;
}
